html {
	background-color: #000000;
	background-image: url("volcano.jpg");
	background-position: 50%, 50%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

details {
	background-color: rgba(96,96,96,0.75);
}

pre {
	background-color: rgba(96,96,96,0.75);
}

a:link {
	color: #33ccff;
}

a:visited {
	color: #ccbbff;
}

.tabs {
	display: flex;
	flex-direction: column;
}

.tabs .tab-labels {
	display: flex;
	gap: 3px;
}

.tabs input[type="radio"] {
	display: none;
}

.tabs label {
	padding: 1em;
	background: rgba(144, 144, 144, 0.75);
	cursor: pointer;
}

.tab-content {
	display: none;
}

.tab-content pre {
	padding: 0.5em;
}

#tab-vkg:checked ~ #content-vkg,
#tab-hpp:checked ~ #content-hpp {
	display: block;
}
